yellow = hsl(40, 90%, 60%)
black = hsl(40, 80%, 8%)
background = hsl(40, 32%, 96%)

:root
    font-size: 16px

h1, h2, h3
    font-family: Futura, "Trebuchet MS", Helvetica, Arial, sans-serif
    text-transform: uppercase
    letter-spacing: 1.2px
    font-weight: 300

html, body
    background: background
    height: 100vh
    width: 100vw
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center

p, li
    font-family: Sabon,'New Baskerville', 'Times New Roman', Times, serif

.wrapper
    max-width: 600px

header
    padding: 0.5rem
    background: black
    margin-bottom: 0.5rem
    h1
        color: background

main
    p
        margin-bottom: 0.5rem

footer
    margin-top: 1rem
    h2
        font-size: 1rem
        border-bottom: 2px black solid
    ul
        li
            font-size: 0.75rem
            margin-top: 0.5rem