@tailwind preflight;

@tailwind components;

.quote--standard {
    @apply border-l-4 border-teal block pl-4 py-2 font-mono text-white  font-bold text-lg;
}

.link--standard {
    @apply no-underline text-teal;
}

.text--standard {
    @apply leading-normal text-grey-lightest;
}

@tailwind utilities;


/*
@keyframes grow {
    0% {
        transform: scaleY(0%);
        opacity: 0;
    }
    100% {
        transform: scaleY(100%);
        opacity: 1;
    }
}

.js-grow {
    transform-origin: 0% 0%;
    animation: 1.23s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s grow;
}

@keyframes pop-up {
    0% {
        opacity: 0;
    }

    90% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.js-pop-up {
    animation: 1.43s cubic-bezier(0.68, -0.55, 0.265, 1.55) pop-up;
}

.js-pop-up--delayed {
    animation: 1.43s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.17s pop-up;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.js-fade {
    animation: 1.43s cubic-bezier(0.68, -0.55, 0.265, 1.55) fade;
} */