@tailwind preflight;

@tailwind components;

@tailwind utilities;

@keyframes slideDown {
    0% { transform: translateY(0) scaleY(100%); }
    100% { transform:translateY(100%) scaleY(0%); }
}

.slideUp {
    position: relative;
}

.slideUp::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #212121;
    animation: slideDown 0.9s ease-in 0s 1 normal forwards;
}

.slideUp--delayed {
    position: relative;
}

.slideUp--delayed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #212121;
    animation: slideDown 0.9s ease-in 0.25s 1 normal forwards;
}